<main>
  <marquee scrollamount="20" class="fs-4">Welcome to my website! Development is in progress here! Plan is to continuously integrate and deploy :)</marquee>
  <section id="hero" class="d-flex flex-lg-row h-100 flex-column-reverse justify-content-lg-around align-items-center justify-content-center">
    <section>
      <h1 class="display-1">Utkarsh Singh</h1>
      <h2>I am a 'GOOD' software engineer.</h2>
      <p class="mt-5">Download my resumé by clicking <a href="myResume.pdf" class="link-info" download="Resume_Utkarsh_Singh.pdf">here...</a><p>
    </section>
    <figure id="hero-img-wrapper" class="h-75">
      <img id="hero-img" src="portfolio_pic.jpg" class="img-fluid h-100" alt="utkarsh" />
    </figure>
  </section>
</main>
